# EA Assignment 02 - Data Preprocessing
__Authored by: Álvaro Bartolomé del Canto (alvarobartt @ GitHub)__

---

<img src="https://media-exp1.licdn.com/dms/image/C561BAQFjp6F5hjzDhg/company-background_10000/0?e=2159024400&v=beta&t=OfpXJFCHCqdhcTu7Ud-lediwihm0cANad1Kc_8JcMpA">

We will start this Jupyter Notebook with a little recap from the previous one named `01 - Data Exploration.ipynb` where we explored the available data and extracted some conclusion and useful details that may be useful during this Jupyter Notebook, so please, check the previous Notebook before procceeding.

So on, we will be using the same `Loading Data` and `Cleaning Data` Jupyter cells in order to load the data and clean it (since there were some invalid/duplicated values), respectively.

## Loading Data

In [1]:
import glob

In [2]:
categories = glob.glob('../documents_challenge/*')
categories

['../documents_challenge/Wikipedia',
 '../documents_challenge/Conference_papers',
 '../documents_challenge/APR',
 '../documents_challenge/PAN11']

In [3]:
data = list()

In [4]:
%%time

for category in categories:
    source = category.split('/')[-1].lower()
    
    for subdir in glob.glob(f"{category}/*"):
        lang = subdir.split('/')[-1].lower()
        
        for file in glob.glob(f"{subdir}/*"):
            data.append({
                'lang': lang,
                'source': source,
                'text': open(file, 'r').read()
            })

CPU times: user 386 ms, sys: 136 ms, total: 521 ms
Wall time: 523 ms

In [5]:
import pandas as pd

data = pd.DataFrame(data)
data.head()

  lang     source                                               text
0   en  wikipedia    Watchmen is a twelve-issue comic book limite...
1   en  wikipedia   The Citigroup Center (formerly Citicorp Cente...
2   en  wikipedia   | birth_place = | death_date = | death_place ...
3   en  wikipedia   Marbod or Maroboduus (born c. in 30 BC, died ...
4   en  wikipedia  The Sylvester Medal is a bronze medal awarded ...

## Cleaning Data

In [12]:
duplicated_data = data[data.duplicated(subset=('text',), keep='first')]
duplicated_data

,lang,context,text
13651,en,conference_papers,This approach naturally involves an agglomerat...
13701,en,conference_papers,We can see that all these proposals have in co...
13725,en,conference_papers,Contribution of conceptual vectors to lexical ...
13752,en,conference_papers,"Since version 2, relations as derivationally r..."
13790,en,conference_papers,This article describes conceptual\n vectors th...
...,...,...,...
21451,en,pan11,"\n\nFor Juanita, who had spent all day sewing..."
22259,es,pan11,"La hermosa canción, que canta Margarita mientr..."
22726,es,pan11,"Volvió a los dos meses, muerto de hambre, mal..."
22821,es,pan11,"(N. de la E.)\n\n[32] Nochebuena chiquita, as..."
23072,es,pan11,Otro elemento se reitera igualmente en sus no...

In [20]:
data.drop_duplicates(subset=('text',), keep='first', inplace=True)
data.shape

(23012, 3)

In [21]:
data = data[data['text'] != 'translation not available']
data.shape

(23011, 3)

__At this point we have already loaded and cleaned the data as defined in the previous Jupyter Notebook, so now we can proceed with the NLP Data Preprocessing.__

---

## Defining Pre-Processing Steps

## Spanish Pre-Processor

## English Pre-Processor

## French Pre-Processor

## Pre-Processing Pipeline

## Prepared Data Overview